/*to style the html page*/
html {
  height: 100%;
}
body {
  background: #0B243B;
  margin: 0;
}

/*to style the head section*/
.head{
  font-size:30px;
  text-align: center;
  border-bottom:2px solid black;
  color:lightgray;
}

/*to style the navigation section*/
nav {
  background: lightgray;
  border-bottom: 1px solid #e5e5e5;
  display: flex;
  justify-content: space-between;
  padding: 15px 20px;
}
nav .left {
  font-size: 18px;
}

/*to style the link section*/
.link {
  text-decoration: none;
  font-size: 17px;
  padding: 5px 15px;
  border-radius: 5px;
  background: #fff;
  color: #000;
}
.link:hover {
  background: #f1f1f1;
}

/*to style the main section*/
#main {
  width: 800px;
  margin: 0 auto;
  margin-top: 20px;
}

/*to style the search section*/
#search {
  width: 100%;
  border: 1px solid #f1f1f1;
  height: 50px;
  font-size: 17px;
  padding: 5px 10px;
  background-color:lightgray;
}

/*to style the load section*/
.load {
  border: 10px solid;
  width: 70px;
  height: 70px;
  border-radius: 50%;
  border-color: black transparent transparent;
  margin: 0 auto;
  margin-top: 20px;
  display: none;
}

/*to style the list section to be displayed after search*/
ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}
.search-result {
  display: flex;
  margin-top: 10px;
  border: 1px solid #e5e5e5;
  height: 310px;
  background-color: lightgray;
}
.search-left img {
  height: 310px;
}
.search-right {
  padding-left: 20px;
  padding-top: 10px;
  position: relative;
}
.search-right a {
  text-decoration: none;
  color: #000;
}
.search-right a:hover {
  text-decoration: underline;
}
.name {
  font-size: 30px;
}
.full-name {
  font-size: 20px;
}
.address {
  color: gray;
  font-size: 17px;
}
.aliases {
  color: gray;
  font-size: 17px;
}
.alter-egos {
  color: gray;
  font-size: 17px;
}
.first-app {
  color: gray;
  font-size: 17px;
}
.publisher {
  color: gray;
  font-size: 17px;
}
.alignment{
  color: gray;
  font-size: 17px;
}

/*to style the btn section*/
.btn {
  margin-top: 20px;
  color: #fff;
  outline: none;
  border: none;
  padding: 6px;
  border-radius: 2px;
  display:right;
}
.btn:hover {
  cursor: pointer;
}
/*to style the add to favourite section*/
.add-to-fav {
  margin-top: 20px;
  background: #A9F5E1;
  color:black;
}
.add-to-fav:hover{
  background: #04B4AE;
  color:white;
}
/*to style the remove from favourite section*/
.remove-from-fav {
  margin-top: 20px;
  background: #FAAC58;
  color:black;
}
.remove-from-fav:hover{
  background: #FF4000;
  color:white;
}
#list {
  position: fixed;
  font-size: 40px;
  top: 50%;
  right: 30%;
  color: white;
  background: orange;
  padding: 10px 20px;
  border-radius: 5px;
  display: none;
}
.list-error {
  background: #DF3A01;
}
.list-success {
  background: #8bc34a;
}

/*to style the page where details of superhero is to be displayed*/
.super-hero-detail {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 434px;
  padding: 20px;
  margin: 0 auto;
  margin-bottom: 50px;
  margin-top: 30px;
  background: #fff;
}
.super-hero-detail img {
  height: 300px;
}
.super-hero-detail h1,
.super-hero-detail h3 {
  margin: 0;
}
.super-hero-detail .power-stats div {
  border: 1px solid black;
  padding: 5px 20px;
  margin-top: 10px;
  display: flex;
  justify-content: space-between;
  width: 200px;
}
.no-results {
  background: lightgray;
  color: white;
  padding: 10px;
  border-radius: 3px;
  margin-top: 20px;
}
.noresult{
  color:white;
  font-size:40px;
  text-align: center;
}
